@using OTDStore.ViewModels.Common;
@model PagedResult<OTDStore.ViewModels.Sales.OrderVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about">
    <div class="account">
        <div class="account__nav">
            <a href="/Account/Edit">
                <div class="account__nav--profile">Thông tin cá nhân</div>
            </a>
            <a href="/Account/ChangePassword">
                <div class="account__nav--profile">Đổi mật khẩu</div>
            </a>
            <div class="account__nav--profile">Đơn hàng</div>
        </div>
        <div class="account__info">
            <h2>Đơn hàng</h2>
            <div class="order-list list-title">
                <div class="order__ID">
                    Mã
                </div>
                <div class="order__info">
                    Ngày đặt hàng
                </div>
                <div class="order__quan">
                    Tổng tiền
                </div>
                <div class="order__total">
                    Trạng thái
                </div>
                <div class="order__status">
                    Chi tiết
                </div>
            </div>
            @foreach (var item in Model.Items)
            {
                <div class="order-list">
                    <div class="order__ID">
                        @Html.DisplayFor(modelItem => item.Id)
                    </div>
                    <div class="order__date">
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </div>
                    <div class="order__total">
                        @Html.DisplayFor(modelItem => item.Total)
                    </div>
                    <div class="order__status">
                        @Html.DisplayFor(modelItem => item.Status)
                    </div>
                    <div class="order__status">
                        @Html.ActionLink("Xem", "Detail", new { id = item.Id })
                    </div>
                </div>
            }
        </div>
        @await Component.InvokeAsync("Pager", Model)
    </div>
</div>