@model OTDStore.ViewModels.Sales.OrderVM

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var payment = "";
    if (Model.PaymentMethod == "1")
    {
        payment = "Thanh toán khi nhận hàng";
    }
    else
    {
        if (Model.PaymentMethod == "2")
        {
            payment = "Thanh toán qua Momo";
        }
        else
            payment = "Thanh toán qua Internet Banking";
    }
}


<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Thông tin chi tiết</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a class="btn btn-success" asp-action="Index" asp-controller="Order">Về danh sách</a>
        </div>
        <div class="card-body">
            <div class="col-md-10">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.OrderDate)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ShipName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.ShipName)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ShipAddress)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.ShipAddress)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ShipEmail)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.ShipEmail)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ShipPhoneNumber)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.ShipPhoneNumber)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Total)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Total)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.PaymentMethod)
                    </dt>
                    <dd class="col-sm-9">
                        @payment
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                </dl>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tên</th>
                            <th>Thông số</th>
                            <th>Số lượng</th>
                            <th>Giá</th>
                            <th>Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderDetails)
                        {
                            var total = item.Price * item.Quantity;
                            <tr>
                                <th>@item.Name</th>
                                <th>@item.Color/@item.Memory/@item.RAM</th>
                                <th>@item.Quantity</th>
                                <th>@item.Price.ToString("0,0.") &#8363</th>
                                <th>@total.ToString("0,0.") &#8363</th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
