@model OTDStore.ViewModels.Catalog.Products.ProductVM

@{
    ViewData["Title"] = "Thông tin sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Thông tin chi tiết</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a class="btn btn-success" asp-action="Index" asp-controller="Product">Về danh sách</a>
        </div>
        <div class="card-body">
            <div class="col-md-4">
                <dl class="row">
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Insurance)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.Insurance)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.YearRelease)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.YearRelease)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Color)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.Color)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.CPU)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.CPU)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.VGA)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.VGA)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Memory)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.Memory)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.RAM)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.RAM)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Camera)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.Camera)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Bluetooth)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.Bluetooth)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Monitor)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.Monitor)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Battery)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.Battery)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Size)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.Size)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.OS)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.OS)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.OriginalPrice)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.OriginalPrice)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Stock)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.Stock)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.ViewCount)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.ViewCount)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.DateCreated)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.ThumbnailImage)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.ThumbnailImage)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

